footer{
  border: 1px solid #ebebeb;
  
  .social-links{
    padding: 0;
    margin: 20px 10px;
    text-align: center;

    li{
      display: inline-block;
      margin: 0 10px;
      
      a{
        color: #a1a1a1;
        font-family: "HoeflerTextItalic", sans-serif;
        font-size: 18px;
      }
    }
  }

  .rights{
    text-align: center;
    
    p{
      color: #1d1d1b;
      font-size: 12px;
      font-family: "ProximaNova", sans-serif;
      font-weight: bold;
      margin-bottom: 0px;

      .copy-icon{
        color: #9c9c9b;

      }
    }
    
    .footer-logo{
      margin: 20px 0 15px;
    }
  }
  
  .line-25{
    margin: 10px auto;
    width: 24%;
    margin-bottom: 20px;
    height: 1px;
    background-color: #eeeeee;
  }
}
